* { box-sizing: border-box; }
html{
    height: 100%;
}
body {
    min-height: 100%;
    background-color: whitesmoke;
    position: relative;
    margin: 0;
}
header{
    padding: 2%;
}
header h1 {
    display: inline-block;
    min-width: calc(100% - (2% + 388px));
}
header img {
    display: inline-block;
}
#charStationData{
    padding: 3% 2%;
}
#arduinoData {
    padding: 3% 2%;
}
table {
    border-collapse: collapse;
    padding: 0 2%;
    min-width: 100%;
}
table, th, td {
    border: none;
}
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1.5px solid white;
}
th {
    background-color: #dc006b;
    color: white;
}
tr:nth-child(even) {
    background-color: #B1B2B0;
}
footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0% calc(50% - 190.64px);
}


